.side-bar {
    width: 300px;
    background-color: rgb(218, 105, 165);
    text-align: center;
    .side-bar-item {
        width: 100%;
        height: 40px;
        font-size: 18px;
        border-bottom: 3px solid #fff;
        color: #fff;
        line-height: 40px;
    }
}