.header {
    height: 70px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;

    .header-left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-creator{
            height: 50px;
            width: 300px;
            line-height: 100%;
            border-radius: 12px;
            margin-left: 12px;
            color: white;
            border-color: white;
            border-width: 3px;
            font-size: 24px;
            background-color: transparent;
        }
    }
    .header-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
            height: 50px;
            width: 400px;
            border-radius: 12px;
            border-color: white;
            border-width: 3px;
            font-size: 18px;
            padding: 0 12px;
            background-color: white;
            overflow: hidden;
        }
        .btn-search {
            height: 50px;
            margin: 0 12px;
            border-radius: 12px;
            border-color: white;
            border-width: 3px;
            font-size: 18px;
            color: white;
            padding: 0 12px;
            background-color: transparent;
        }

        .btn-search:hover {
            background-color: green;
            cursor: pointer;
        }
        
    }
}